
/**************************************************************************************
MEDIA QUERIES
**************************************************************************************/

@media(max-height: 1920px) and (max-width: 2460px) and (min-width: 1441px) {
    
      .nav-items {
        width: 600px;
      }
    
      .landing {
        margin-left: 60%;
      }
    
    }
    
    @media(max-height: 1079px) and (min-height: 610px) and (max-width: 1440px) and (min-width: 1261px) {
    
      .nav-items {
        width: 600px;
      }
    
      .landing {
        margin-left: 50%;
      }
    
    }
    
    /**************************************************************************************
    MEDIA QUERIES
    **************************************************************************************/
    
    /**************************************************************************************
    Mobile Navigation QUERIES
    **************************************************************************************/
    
    
    
    
    @media(max-width: 415px) and (min-width: 320px) {
    
      .navbar {
        position: relative;
        top: 0;
      }
    
      #site-nav {
          top: 0;
      }
    
      .fa-bars {
    
      }
    
      .navbar-toggle {
        margin-top: 10px;
        padding: 6px 10px;
        background-color: #FFF;
      }
    
      .logo {
        height: 85px;
        padding: 0;
        display: inline-block;
        margin-left: 78% !important;
        position: absolute;
        top: -8px;
      }
    
      .nav-items {
        width: 375px;
      }
    
      .navbar-default .navbar-nav>li>a.overview {
        background-color: #AFB38A;
        color: #000;
        margin-left: 0;
        text-align: center;
        width: 375px;
      }
    
      .navbar-default .navbar-nav>li>a.projects {
        background-color: #E1D6CC;
        color: #000;
        text-align: center;
      }
    
      .navbar-default .navbar-nav>li>a.studio {
        background-color: #A66459;
        color: #000;
        text-align: center;
      }
    
      .navbar-default .navbar-nav>li>a.contact {
        background-color: #F9DBAE;
        color: #000;
        text-align: center;
      }
    
      .navbar-default .navbar-nav>li>a.landing {
        background-color: rgba(0, 0, 0, 0.7);
        width: 375px;
        text-align: center;
        left: 15px;
      }
    
      #page-background {
        position: static;
        height: 780px;
      }
    
      .overview-title {
        position: relative;
        padding-top: 4px;
        top: 80px;
        width: 100%;
      }
    
      .studio-content-container {
        top: 150px;
      }
    
      .overview-statement {
        position: relative;
        top: 100px;
        width: 320px;
        height: 540px;
        margin-left: 5.5%;
      }
    
    
    
    }
    
    
    
    
    /**************************************************************************************
    Mobile Navigation QUERIES
    **************************************************************************************/
    