
@media(max-height: 1920px) and (max-width: 2460px) and (min-width: 1441px) {
        
    #sandlake-one {
        height: 1080px;
    }

    #sandlake-two {
        height: 1080px;
    }

    #sandlake-three {
        height: 1080px;
    }

    #sandlake-four {
        height: 1080px;
    }

}

@media(max-height: 1079px) and (min-height: 610px) and (max-width: 1440px) and (min-width: 1261px) {

    #sandlake-one {
        height: 630px;
    }

    #sandlake-two {
        height: 630px;
    }

    #sandlake-three {
        height: 630px;
    }

    #sandlake-four {
        height: 630px;
    }

}