{{#contentFor landingContent}}
    <div class="background-image">
        <ul class="cd-slideshow">

          <li>
            <span class="image-one"></span>
            <div>
              <h3>Environment</h3>
            </div>
          </li>

          <li>
            <span class="image-two"></span>
            <div>
              <h3>Inspire</h3>
            </div>
          </li>

          <li>
            <span class="image-three"></span>
            <div>
              <h3>Design</h3>
            </div>
          </li>

          <li>
            <span class="image-four"></span>
            <div>
              <h3>Community</h3>
            </div>
          </li>

        </ul>
    </div>
{{/contentFor}}