{{!< LAYOUT}}
<html>
    {{{block 'pageHeader'}}}
    <body>
        <div id="imagehere">
            {{{block "landingContent"}}}
            {{> navbar}}
        </div>
        {{{block 'pageScripts'}}}
    </body>
</html>